# Dependencias
**/node_modules/
**/.pnp.cjs
**/.pnp.loader.mjs

# Builds
**/dist/
**/build/
**/out/

# IDEs/OS
**/.idea/
**/.vscode/
.DS_Store
Thumbs.db

# Env/secretos
*.env
**/*.env
.env.*
!.env.example
**/*.key
**/*.pem

# Java / Maven / Gradle
**/target/
**/.mvn/
**/.gradle/
**/*.iml

# Logs
**/*.log
**/logs/

# Firebase
.firebaserc.local
.firebase/
